.navbar {
  padding: 20px 0;
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 80px;
}

.navRight{
  display: flex;
  align-items: center;
}

.profile{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
  border: 3px solid #ea3c12;
  margin: 0 20px;
  margin-bottom: 25px;
}
.logoutBtn{
  background: none;
  cursor: pointer;
}